MOC-MDAP-Test/pipeline/Pipeline_Forlookup.json
{
	"name": "Pipeline_Forlookup",
	"properties": {
		"activities": [
			{
				"name": "LookupControlTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetSinkTablesByDatabase]",
						"storedProcedureParameters": {
							"pDatabaseName": {
								"type": "String",
								"value": "Entinuum"
							}
						}
					},
					"dataset": {
						"referenceName": "SqlServerTable_Delta",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachControlTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupControlTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupControlTable').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyDeltaRows",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": "[dbo].[GetDeltaByTableName]",
									"storedProcedureParameters": {
										"pCurrentDateTime": {
											"type": "DateTime",
											"value": {
												"value": "@pipeline().parameters.StartDateTime",
												"type": "Expression"
											}
										},
										"pTableName": {
											"type": "String",
											"value": {
												"value": "@item().TableName",
												"type": "Expression"
											}
										}
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable_Delta",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SPUpdateDuration",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyDeltaRows",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateLastRefreshDateByTableName]",
								"storedProcedureParameters": {
									"pDuration": {
										"value": {
											"value": "@activity('CopyDeltaRows').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pTableName": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"StartDateTime": {
				"type": "string"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}